<div class="row">
  <div class="col-lg-12">
    <form role="form">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Search for Characters like `Iron Man` or `The Hulk`">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span><!-- /.input-group-btn -->
      </div><!-- /.input-group -->
    </form>
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
